<div class="container">
  <div class="profile_edit">
    <h2>Profile設定</h2>

    <%= form_for(@my_profile, url: {action: :update}, html: {method: :put}) do |f| %>
        <div class='form-group'>
          <%= f.label 'アイコン' %>
          <!--<% if @my_profile.photo.present? %>-->
              <!--<%= image_tag(@my_profile.photo.to_s) %>-->
          <!--<% end %>-->
          <%= f.file_field :photo %>
        </div>

        <div class='form-group'>
          <%= f.label :name %><br/>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :company_name %><br/>
          <%= f.text_field :company_name, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :address %><br/>
          <%= f.text_field :address, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit '更新', class: 'btn btn-primary' %>
        </div>

        <div>
          <%= link_to "Back", :back %>
        </div>
    <% end %>
  </div>
</div>
